/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900'); */
@import url('https://use.typekit.net/dbu3fbe.css');


@font-face {
    font-family: 'Gentona';
    src: url('https://i.coe.ufl.edu/uf-fonts/gentona-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona';
    src: url('https://i.coe.ufl.edu/uf-fonts/gentona-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --coe-teal: #2697B7;
    --coe-blue: #194588;
    --coe-navy: #1c2f3d;
    --coe-orange: #cc4927;
    --coe-sherbet: #edba75;
    --coe-black: black;
    --coe-grey: #535353;
    --coe-light-grey: #e8e8e8;
    --coe-light-gray: #e8e8e8;
    --coe-white: white;
    --coe-blue-hover: #16305d;
    --coe-sherbet-hover: #e09d43;
    --coe-teal-hover: #126379;
    --coe-orange-hover: #b13211;

    /* fonts */
    --coe-font-fam1: museo-sans-display;
    --coe-font-fam2: Lato, sans-serif;
}


body {
    margin: 0;
    font-family: var(--coe-font-fam2);
    font-size: 16px;
    font-weight: normal;
}

button, .coe-button {
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 24px;
    border-style: solid;
    font-family: var(--coe-font-fam2);
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 12px 30px;
    text-decoration: none;
}

button.style1, a.style1 {
    border-color: var(--coe-blue);
    background-color: var(--coe-blue);
    color: var(--coe-white);
}

button.style1:hover, a.style1:hover {
    background-color: var(--coe-blue-hover);
    border-color: var(--coe-blue-hover);
}

button.style2, a.style2 {
    border-color: var(--coe-blue);
    background-color: var(--coe-white);
    color: var(--coe-blue);
}

button.style2:hover, a.style2:hover {
    background-color: var(--coe-blue);
    border-color: var(--coe-blue);
    color: var(--coe-black);
}

button.style3, a.style3 {
    border-color: var(--coe-sherbet);
    background-color: var(--coe-sherbet);
    color: var(--coe-black);
}

button.style3:hover, a.style3:hover {
    background-color: var(--coe-sherbet-hover);
    border-color: var(--coe-sherbet-hover);
    color: var(--coe-black);
}

button.style4, a.style4 {
    border-color: var(--coe-sherbet);
    background-color: var(--coe-white);
    color: var(--coe-black);
}

button.style4:hover, a.style4:hover {
    background-color: var(--coe-sherbet);
    border-color: var(--coe-sherbet);
    color: var(--coe-black);
}

button.style5, a.style5 {
    border-color: var(--coe-teal);
    background-color: var(--coe-teal);
    color: var(--coe-white);
}

button.style5:hover, a.style5:hover {
    background-color: var(--coe-teal-hover);
    border-color: var(--coe-teal-hover);
    color: var(--coe-white);
}

button.style6, a.style6 {
    border-color: var(--coe-teal);
    background-color: var(--coe-white);
    color: var(--coe-teal);
}

button.style6:hover, a.style6:hover {
    background-color: var(--coe-teal);
    border-color: var(--coe-teal);
    color: var(--coe-white);
}

button.style7, a.style7 {
    border-color: var(--coe-orange);
    background-color: var(--coe-orange);
    color: var(--coe-white);
}

button.style7:hover, a.style7:hover {
    background-color: var(--coe-orange-hover);
    border-color: var(--coe-orange-hover);
    color: var(--coe-white);
}

button.style8, a.style8 {
    border-color: var(--coe-orange);
    background-color: var(--coe-white);
    color: var(--coe-orange);
}

button.style8:hover, a.style8:hover {
    background-color: var(--coe-orange);
    border-color: var(--coe-orange);
    color: var(--coe-white);
}


.coe-black {
    color: var(--coe-black);
}

.coe-blue {
    color: var(--coe-blue);
}



.coe-grey {
    color: var(--coe-grey);
}

.coe-light-grey {
    color: var(--coe-light-grey);
}

.coe-navy {
    color: var(--coe-navy);
}

.coe-orange {
    color: var(--coe-orange);
}



.coe-sherbet {
    color: var(--coe-sherbet);
}

.coe-teal {
    color: var(--coe-teal);
}

.coe-text118 {
    font-family: var(--coe-font-fam1);
    font-size: 18px;
    line-height: 60px;
    font-weight: 800; 
}

.coe-text135 {
    font-family: var(--coe-font-fam1);
    font-size: 35px;
    line-height: 40px;
    font-weight: 800;
}

.coe-text140, .coe-text-h2, h2 {
    font-family: var(--coe-font-fam1);
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
}

.coe-text150, .coe-text-h1, h1 {
    font-family: var(--coe-font-fam1);
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
}

.coe-text118, .coe-text-h5, h5 {
    font-family: var(--coe-font-fam1);
    font-size: 1.125rem;
    font-weight: 900;
}

.coe-text213 {
    font-family: var(--coe-font-fam2);
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1.5px;
    font-weight: 900;
}

.coe-text215 {
    font-family: var(--coe-font-fam2);
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    font-weight: 900;
}


.coe-text220, .coe-text-h4, h4 {
    font-family: var(--coe-font-fam2);
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 2.4px;
    font-weight: bold;
}

.coe-text220b {
    font-family: var(--coe-font-fam2);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2.4px;
    font-weight: 900;
}

.coe-text222, .coe-text-h3, h3 {
    font-family: var(--coe-font-fam2);
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2.64px;
    font-weight: 900;
}

.coe-white {
    color: var(--coe-white);
}

div {
    box-sizing: border-box;
}

h3, h4 {
    margin-block-end: 1em;
}


.header-gap {
    margin-bottom: 24px;
}

input[type=text], input[type=email] {
    border: 0;
    background: transparent;
    font-size: 18px;
    font-family: var(--coe-font-fam2);
    padding: 10px;
    border-bottom: 2px solid var(--coe-sherbet);
}


ul {
    list-style: url("https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg"); 
}

@media only screen and (min-width: 240px) and (max-width: 569px) {

}

@media only screen and (min-width: 570px) and (max-width: 999px) {

}

/* mobile menu sizes */
@media only screen and (max-width: 999px) {
    .page-content {
        padding: 24px 12px;
    }
}

/** desktop menu sizes */
@media only screen and (min-width: 1000px) {
    .page-content {
        padding: 48px 48px 48px 48px;
    }
}