coe-breadcrumb {
    margin-bottom: 30px;
}

.about h4 { 
    margin-top: 0;
}

.contact-box {
    background-color: var(--coe-light-grey);
    margin-right: 12px;
    height: fit-content;
}

.contact-box a {
    text-decoration: none;
}

.contact-box>div {
    padding-left: 12px;
    padding-bottom: 20px;
    padding-right: 12px;
}

.contact-twitter img {
    height: 14px; 
}

.cv-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cv-button-inner {
    margin-bottom: 16px;
    margin-top: 20px;
}



.grant {
    max-width: 300px;
    background-color: var(--coe-light-gray);
    padding: 16px;
    border-bottom: 35px solid var(--coe-navy);
}

.grant-info-bar {
    width:100%;
    background-color: var(--coe-navy);
    height: 35px;
}

.grant-line {
    font-size: 0.8125rem;
    color: var(--coe-navy);
    font-weight: 900;
}

.grant-line-detail {
    padding-bottom: .7rem;
    font-weight: normal;
}

.grant-line-detail img {
    height: .8rem;
    position: relative;
    top: 2px;
    margin-right: 0.5rem;
}

.grants-grid {
    display: grid;
}

ul {
    list-style: url("https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg"); 
}

.page-content-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 100%;
}

.publications li {
    margin-bottom: 10px;
}

.publications h5 {
    margin-bottom: 10px;
}

.title-box h3 {
    margin-top: 0;
}

/* cellphone */
@media only screen and (min-width: 240px) and (max-width: 569px) {
    .grants-grid {
        gap: 16px;
        grid-template-columns: 1fr;
    }
}

/* large mobile/table */
@media only screen and (min-width: 570px) and (max-width: 999px) {
    .grants-grid {
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

/* mobile menu sizes */
@media only screen and (max-width: 999px) {
    .about {
        grid-row: 2;
    }

    .activities {
        grid-row: 7;
    }

    .affiliations {
        grid-row: 5;
    }

    .contact-box {
        grid-row: 3;
        max-width: 360px;
    }

    .cv-button {
        grid-row: 4;
        justify-content: left; 
    }

    .education {
        grid-row: 8;
    }

    .grants {
        grid-row: 10;
    }

    .interests {
        grid-row: 6;
    }

    .news {
        grid-row: 12;
    }

    .page-content {
        max-width: 1280px;
        display: grid; 
    }

    .professional {
        grid-row: 9;
    }

    .publications {
        grid-row: 11;
    }

    .title-box {
        grid-row: 1; 
    }
}

/** desktop menu sizes */
@media only screen and (min-width: 1000px) {
    .about {
        grid-column: 2 / 6;
        grid-row: 2;
    }

    .activities {
        grid-column: 2 / 6;
        grid-row: 6;
    }

    .affiliations {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .contact-box {
        grid-column: 1;
        grid-row: 2 / 9;
    }

    .cv-button {
        grid-column: 4 / 6;
        grid-row: 1;
        justify-content: flex-end;
    }

    .education {
        grid-column: 2 / 6;
        grid-row: 4;
    }

    .grants {
        grid-column: 2 / 6;
        grid-row: 7;
    }

    .grants-grid {
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }

    .interests {
        grid-column: 4 / 6;
        grid-row: 3;
    }

    .news {
        grid-column: 2 / 6;
        grid-row: 9;
    }

    .page-content {
        max-width: 1280px;
        display: grid; 
        grid-template-columns: 360px 1fr 1fr 1fr 1fr;
    }

    .professional {
        grid-column: 2 / 6;
        grid-row: 5;
    }

    .publications {
        grid-column: 2 / 6;
        grid-row: 8;
    }

    .title-box {
        grid-column: 1/3;
        grid-row: 1; 
    }
}

/* real big */
@media only screen and (min-width: 1300px) {
.grants-grid {
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}