---

---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ name }} | UF COE</title>
        <script type="module" src="/components.js?v=e07f5"></script>
        <link rel="stylesheet" href="/css/coe21.css?v=45" type="text/css" />
        <link rel="stylesheet" href="/css/faculty-profile.css?v=45" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2" />
    </head>
    <body>
        <coe-header-solid></coe-header-solid>
        <div class="page-content-container">
            <div class="page-content">
                <div class="title-box">
                    <coe-breadcrumb path="faculty" thisPage="{{ name }}"></coe-breadcrumb>
                    <div class="person-title coe-text-h2 coe-teal">{{ name }}</div>
                    <h3 class="coe-orange">{{ jobTitle }}</h3>
                </div>
                <div class="cv-button">
                    {% if resumeUrl %}
                    <div class="cv-button-inner">
                        <a class="coe-button style3" href="{{ resumeUrl }}">DOWNLOAD CV (PDF)</a>
                    </div>
                    {% endif %}
                </div>
                <div class="contact-box">
                    <img class="profile-image" src="{{ imageUrl }}" />
                    {% if phone %}
                        <div class="contact-phone">
                            <div class="coe-text213 coe-blue">PHONE</div>
                            <div>{{ phone }}</div>
                        </div>
                    {% endif %}
                    {% if email %}
                        <div class="contact-email">
                            <div class="coe-text213 coe-blue">EMAIL</div>
                            <a href="mailto:{{ email }}>">{{ email }}</a>
                        </div>
                    {% endif %}
                    {% if address %}
                        <div class="contact-email">
                            <div class="coe-text213 coe-blue">ADDRESS</div>
                            <div>
                                {% for line in address %}
                                    {{ line }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if website %}
                        <div class="contact-email">
                            <div class="coe-text213 coe-blue">WEBSITE</div>
                            <div>{{ website }}</div>
                        </div>
                    {% endif %}
                    {% if twitter %}
                        <div class="contact-twitter">
                            <img src="https://i.coe.ufl.edu/home/twitter-brands-blue.svg">
                            <a href="https://twitter.com/{{ twitter }}" target="_blank">@{{ twitter }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="about">
                    <h4 class="coe-blue">ABOUT</h4>
                        <div slot="about">
                            {{ content | safe }}
                        </div> 
                </div>
                {% if affiliations.length %}
                    <div class="affiliations">
                        <h4 class="coe-blue">AFFILIATIONS</h4>
                        <ul>
                            {% for a in affiliations %}
                                <li>{{ a }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if interests.length %}
                    <div class="interests">
                        <h4 class="coe-blue">RESEARCH INTERESTS</h4>
                        <p>
                            {% for i in interests %}
                                {{ i }}{{ ',' if not loop.last}}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
                {% if degrees %}
                    <div class="education">
                        <h4 class="coe-blue">EDUCATION</h4>
                        <ul>
                            {% for d in degrees %}
                                <li>{{ d }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if activities.length %}
                    <div class="activities">
                        <h4 class="coe-blue">ACTIVITIES AND HONORS</h4>
                        <ul>
                            {% for a in activities %}
                                <li>{{ a }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if appointments.length %}
                    <div class="appointments">
                        <h4 class="coe-blue">KEY PROFESSIONAL APPOINTMENTS</h4>
                        <ul>
                            {% for a in appointments %}
                                <li>{{ a }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if grants.length %}
                    <div class="grants">
                        <h4 class="coe-blue">SELECTED GRANTS</h4>
                        <div class="grants-grid">
                            {% for g in grants %}
                                <div class="grant">
                                    <div class="coe-text-h5">{{g.title}}</div>
                                    <div class="grant-line">
                                    ROLE
                                        <div class="grant-line-detail">
                                            <img src="https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg">{{g.role}}
                                        </div>
                                    </div>
                                    <div class="grant-line">
                                    FUNDING AGENCY
                                        <div class="grant-line-detail">
                                            <img src="https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg">{{g.grantor}}
                                        </div>
                                    </div>
                                    <div class="grant-line">
                                    PROJECT PERIOD
                                        <div class="grant-line-detail">
                                            <img src="https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg">{{g.awarddate}}
                                        </div>
                                    </div>
                                    <div class="grant-line">
                                    AWARD AMOUNT
                                        <div class="grant-line-detail">
                                            <img src="https://i.coe.ufl.edu/entypo/chevron-right-li-orange.svg">{{g.awardamount}}
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if publications %}
                    <div class="publications">
                        <h4 class="coe-blue">SELECTED PUBLICATIONS</h4>
                            {% for category, pubs in publications %}
                                {% if pubs.length %}
                                <h5 class="publication-category">{{category}}</h5>
                                <ul>
                                    {% for p in pubs %}
                                        {% if p.journal %}
                                            <li>
                                                {{p.authors}} ({{p.pubdate}}). {{p.title}}.
                                                <i>{{p.journal}}</i>
                                                {% if p.jnum %}, {{p.jnum}}{% endif %} 
                                                {% if p.pages %}, {{p.pages}}{% endif %}
                                            </li>
                                        {% else %}
                                            <li>
                                                {{p.authors}} ({{p.pubdate}}). <i>{{p.title}}.</i>   
                                                {{p.pubcity}}: {{p.publisher}}     
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if news.length %}
                    <div class="news">
                        <h4 class="coe-blue">RECENT NEWS</h4>
                    </div>
                {% endif %}
                {% if links.length %}
                    <div class="news">
                        <h4 class="coe-blue">LINKS</h4>
                        <ul>
                            {% for l in links %}
                                <li>{{ l }}</li>
                            {% endfor %}              
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
        <coe-footer></coe-footer>
    </body>
</html>